body {
	background: url(fancy-pants.jpg);
	opacity: 2;
}
table{
	width: 900px;
	height: 400px;
	color: white;
}
td,th{
	font-size: 20px;
	border-radius: 6px; 
	background:  #293240;
}

h1{
	color: white;
}
.btn{
	display: inline-block; 
    background: #8C959D; 
    color: #fff; 
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 6px; 
}
.bton{
	padding-top: 10px;
}